<h1>Message Details</h1>
<table id="vaseem">
	<tr>
		<th>Name</th>
		<th>Email</th>
		<th>Contact</th>
	</tr>
	<tr>
		<td>
			<%=@message.full_name%>

		</td>
		<td>
			<%=@message.email%>

		</td>
		<td>
			<%=@message.contact%>
		</td>
	</tr>
</table>
