<h1> List of Tags</h1>

<table id="vaseem">
	<tr>
		<th>Tag Name</th>
		<th>Created at</th>
		
	</tr>
	 <%@tags.each do |tag| %>
		<tr>
			<td>
				<%=tag.name%>
			</td>
			<td>
				<%=time_ago tag.created_at%>
			</td>
			
		</tr>
	<%end%>
</table>
<%= will_paginate @messages%>