<h1>Title: <%=@post.title%></h1>
	<p><b>Content: </b>
		<%=@post.content.html_safe%>
	</p>
	<p>
		<b>Tags:</b><br>
		<%@tags.each do |tag|%>
			<%=tag.name%>, 
		<%end%>
	</p>

<%= image_tag(@post.image_url.to_s, size: "500x300") %>