<h1>Information of the user</h1>
<table id="vaseem">
	<tr>
		<th>Full Name</th>
		<th>Email</th>
		<th>About</th>
	</tr>
	<tr>
		<td>
			<%= @user.first_name %>
			<%= @user.last_name %>
		</td>
		<td>
			<%= @user.email %>
		</td>
		<td>
			<%= @user.about %>
		</td>
	</tr>
</table>

