<h1><b>Information</b></h1>
<p><b>Full Name :</b> <%= "#{@user.first_name} #{@user.last_name}" %></p>
<p><b>Email:</b> <%= @user.email %> </p>
<p><b>About:</b> <%= @user.about %> </p>
<%= image_tag(@user.avatar_url.to_s, size: "300x200")%>

